@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,500);

/*
ı. fonts
°°°°°°°°°
 */

$font-family: 'Roboto', Helvetica, sans-serif;
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-heavy: 700;
$font-height: 1.5;
$font-size: 16px;

/*
ıı. colors
°°°°°°°°°
 */
$lightbg: #eceff1;
$black: #000;
$tablebg: #212121;
$headercolor: aliceblue;

$darkgray: #333447; //gray
$wrongred: #d64d96; //red
$green: #3cd483; //green
//indi
$indilight: #1f364d;
$indireg: #0f273d;
$indidark: #0c2033;
//blue
$bluereg: #4997e5;
$bluedark: #457cb2;

$whitetext: #ffffff;
$bgwhite: #f5f5f5;
$balltext: #b9b9b9;
$svgchart-text: #e8eaf6;

$redtext: #df0f00;
$blacktext: #212121;
$blue: #484fb9;
$bluenav: #3f51b5;

@mixin clearfix() {
	&::after {
		display: block;
		content: "";
		clear: both;
	}
}

$bgtransition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
$bgtransition-svg: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;

$bghover-color: rgba(0, 0, 0, 0.018);

$box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14),
	0px 1px 10px 0px rgba(0, 0, 0, 0.12);
